<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.issue.mapper.FeIssueItemLogMapper">

    <resultMap id="FeIssueItemLogResult" type="FeIssueItemLog">
        <result property="logId" column="log_id"/>
        <result property="issueId" column="issue_id"/>
        <result property="fromStatus" column="from_status"/>
        <result property="toStatus" column="to_status"/>
        <result property="fromOwnerSide" column="from_owner_side"/>
        <result property="toOwnerSide" column="to_owner_side"/>
        <result property="changeSummary" column="change_summary"/>
        <result property="operator" column="operator"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectFeIssueItemLogListByIssueId" parameterType="Long" resultMap="FeIssueItemLogResult">
        select log_id, issue_id, from_status, to_status, from_owner_side, to_owner_side,
               change_summary, operator, create_time
        from fe_issue_item_log
        where issue_id = #{issueId}
        order by log_id desc
    </select>

    <insert id="insertFeIssueItemLog" parameterType="FeIssueItemLog" useGeneratedKeys="true" keyProperty="logId">
        insert into fe_issue_item_log (
            issue_id, from_status, to_status, from_owner_side, to_owner_side,
            change_summary, operator, create_time
        ) values (
            #{issueId}, #{fromStatus}, #{toStatus}, #{fromOwnerSide}, #{toOwnerSide},
            #{changeSummary}, #{operator}, #{createTime}
        )
    </insert>
</mapper>
