<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.manage.mapper.FeExtinguisherMapper">

    <resultMap id="FeExtinguisherResult" type="FeExtinguisher">
        <result property="extinguisherId" column="extinguisher_id" />
        <result property="externalExtinguisherId" column="external_extinguisher_id" />
        <result property="externalCompanyId" column="external_company_id" />
        <result property="labelCode" column="label_code" />
        <result property="specification" column="specification" />
        <result property="extinguisherType" column="extinguisher_type" />
        <result property="extinguisherForm" column="extinguisher_form" />
        <result property="standardCode" column="standard_code" />
        <result property="temperatureRange" column="temperature_range" />
        <result property="profileSource" column="profile_source" />
        <result property="profileSyncTime" column="profile_sync_time" />
        <result property="profileSyncStatus" column="profile_sync_status" />
        <result property="profileSyncMessage" column="profile_sync_message" />
        <result property="sensorId" column="sensor_id" />
        <result property="sensorCode" column="sensor_code" />
        <result property="deptId" column="dept_id" />
        <result property="deptName" column="dept_name" />
        <result property="deptProvince" column="dept_province" />
        <result property="deptCity" column="dept_city" />
        <result property="deptArea" column="dept_area" />
        <result property="sourceDeptId" column="source_dept_id" />
        <result property="sourceDeptName" column="source_dept_name" />
        <result property="externalCompanyName" column="external_company_name" />
        <result property="productName" column="product_name" />
        <result property="manufacturer" column="manufacturer" />
        <result property="serviceProvider" column="service_provider" />
        <result property="productionDate" column="production_date" />
        <result property="inspectionDate" column="inspection_date" />
        <result property="expiryDate" column="expiry_date" />
        <result property="scrapDate" column="scrap_date" />
        <result property="firePointId" column="fire_point_id" />
        <result property="firePointName" column="fire_point_name" />
        <result property="installLocation" column="install_location" />
        <result property="qrCode" column="qr_code" />
        <result property="status" column="status" />
        <result property="syncStatus" column="sync_status" />
        <result property="lastSyncTime" column="last_sync_time" />
        <result property="createBy" column="create_by" />
        <result property="createTime" column="create_time" />
        <result property="updateBy" column="update_by" />
        <result property="updateTime" column="update_time" />
        <result property="remark" column="remark" />
        <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="selectFeExtinguisherVo">
        select e.extinguisher_id, e.external_extinguisher_id, e.external_company_id, e.label_code,
               e.specification, e.extinguisher_type, e.extinguisher_form, e.standard_code, e.temperature_range,
               e.profile_source, e.profile_sync_time, e.profile_sync_status, e.profile_sync_message,
               e.sensor_id, e.sensor_code, e.dept_id, d.dept_name,
               d.province as dept_province, d.city as dept_city, d.area as dept_area,
               e.source_dept_id, sd.dept_name as source_dept_name, ec.external_company_name, e.product_name, e.manufacturer,
               e.service_provider, e.production_date, e.inspection_date, e.expiry_date, e.scrap_date,
               e.fire_point_id, fp.fire_point_name, e.install_location, e.qr_code, e.status, e.sync_status, e.last_sync_time,
               e.create_by, e.create_time, e.update_by, e.update_time, e.remark, e.del_flag
        from fe_extinguisher e
        left join fe_external_company ec on e.external_company_id = ec.external_company_id
        left join fe_fire_point fp on e.fire_point_id = fp.fire_point_id
        left join sys_dept d on e.dept_id = d.dept_id
        left join sys_dept sd on e.source_dept_id = sd.dept_id
    </sql>

    <select id="selectFeExtinguisherList" parameterType="FeExtinguisher" resultMap="FeExtinguisherResult">
        <include refid="selectFeExtinguisherVo"/>
        <where>
            <if test="labelCode != null and labelCode != ''"> and e.label_code = #{labelCode}</if>
            <if test="externalExtinguisherId != null"> and e.external_extinguisher_id = #{externalExtinguisherId}</if>
            <if test="externalCompanyId != null"> and e.external_company_id = #{externalCompanyId}</if>
            <if test="extinguisherType != null and extinguisherType != ''"> and e.extinguisher_type = #{extinguisherType}</if>
            <if test="extinguisherForm != null and extinguisherForm != ''"> and e.extinguisher_form = #{extinguisherForm}</if>
            <if test="sensorId != null"> and e.sensor_id = #{sensorId}</if>
            <if test="sensorCode != null and sensorCode != ''"> and e.sensor_code = #{sensorCode}</if>
            <if test="deptId != null"> and e.dept_id = #{deptId}</if>
            <if test="deptProvince != null and deptProvince != ''"> and d.province = #{deptProvince}</if>
            <if test="deptCity != null and deptCity != ''"> and d.city = #{deptCity}</if>
            <if test="deptArea != null and deptArea != ''"> and d.area = #{deptArea}</if>
            <if test="sourceDeptId != null"> and e.source_dept_id = #{sourceDeptId}</if>
            <if test="productName != null and productName != ''"> and e.product_name like concat('%', #{productName}, '%')</if>
            <if test="firePointId != null"> and e.fire_point_id = #{firePointId}</if>
            <if test="firePointName != null and firePointName != ''"> and fp.fire_point_name like concat('%', #{firePointName}, '%')</if>
            <if test="params.beginLastSyncTime != null and params.beginLastSyncTime != ''">
                and e.last_sync_time &gt;= concat(#{params.beginLastSyncTime}, ' 00:00:00')
            </if>
            <if test="params.endLastSyncTime != null and params.endLastSyncTime != ''">
                and e.last_sync_time &lt;= concat(#{params.endLastSyncTime}, ' 23:59:59')
            </if>
            <if test="status != null and status != ''"> and e.status = #{status}</if>
            <if test="syncStatus != null and syncStatus != ''"> and e.sync_status = #{syncStatus}</if>
            ${params.dataScope}
        </where>
    </select>

    <select id="selectFeExtinguisherByExtinguisherId" parameterType="Long" resultMap="FeExtinguisherResult">
        <include refid="selectFeExtinguisherVo"/>
        where e.extinguisher_id = #{extinguisherId}
    </select>

    <select id="selectByExternalExtinguisherId" parameterType="Long" resultMap="FeExtinguisherResult">
        <include refid="selectFeExtinguisherVo"/>
        where e.external_extinguisher_id = #{externalExtinguisherId}
        limit 1
    </select>

    <select id="selectByLabelCode" parameterType="String" resultMap="FeExtinguisherResult">
        <include refid="selectFeExtinguisherVo"/>
        where e.label_code = #{labelCode}
        limit 1
    </select>

    <insert id="insertFeExtinguisher" parameterType="FeExtinguisher" useGeneratedKeys="true" keyProperty="extinguisherId">
        insert into fe_extinguisher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="externalExtinguisherId != null">external_extinguisher_id,</if>
            <if test="externalCompanyId != null">external_company_id,</if>
            <if test="labelCode != null and labelCode != ''">label_code,</if>
            <if test="specification != null">specification,</if>
            <if test="extinguisherType != null">extinguisher_type,</if>
            <if test="extinguisherForm != null">extinguisher_form,</if>
            <if test="standardCode != null">standard_code,</if>
            <if test="temperatureRange != null">temperature_range,</if>
            <if test="profileSource != null">profile_source,</if>
            <if test="profileSyncTime != null">profile_sync_time,</if>
            <if test="profileSyncStatus != null">profile_sync_status,</if>
            <if test="profileSyncMessage != null">profile_sync_message,</if>
            <if test="sensorId != null">sensor_id,</if>
            <if test="sensorCode != null">sensor_code,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="sourceDeptId != null">source_dept_id,</if>
            <if test="productName != null">product_name,</if>
            <if test="manufacturer != null">manufacturer,</if>
            <if test="serviceProvider != null">service_provider,</if>
            <if test="productionDate != null">production_date,</if>
            <if test="inspectionDate != null">inspection_date,</if>
            <if test="expiryDate != null">expiry_date,</if>
            <if test="scrapDate != null">scrap_date,</if>
            <if test="firePointId != null">fire_point_id,</if>
            <if test="installLocation != null">install_location,</if>
            <if test="qrCode != null">qr_code,</if>
            <if test="status != null">status,</if>
            <if test="syncStatus != null">sync_status,</if>
            <if test="lastSyncTime != null">last_sync_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="externalExtinguisherId != null">#{externalExtinguisherId},</if>
            <if test="externalCompanyId != null">#{externalCompanyId},</if>
            <if test="labelCode != null and labelCode != ''">#{labelCode},</if>
            <if test="specification != null">#{specification},</if>
            <if test="extinguisherType != null">#{extinguisherType},</if>
            <if test="extinguisherForm != null">#{extinguisherForm},</if>
            <if test="standardCode != null">#{standardCode},</if>
            <if test="temperatureRange != null">#{temperatureRange},</if>
            <if test="profileSource != null">#{profileSource},</if>
            <if test="profileSyncTime != null">#{profileSyncTime},</if>
            <if test="profileSyncStatus != null">#{profileSyncStatus},</if>
            <if test="profileSyncMessage != null">#{profileSyncMessage},</if>
            <if test="sensorId != null">#{sensorId},</if>
            <if test="sensorCode != null">#{sensorCode},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="sourceDeptId != null">#{sourceDeptId},</if>
            <if test="productName != null">#{productName},</if>
            <if test="manufacturer != null">#{manufacturer},</if>
            <if test="serviceProvider != null">#{serviceProvider},</if>
            <if test="productionDate != null">#{productionDate},</if>
            <if test="inspectionDate != null">#{inspectionDate},</if>
            <if test="expiryDate != null">#{expiryDate},</if>
            <if test="scrapDate != null">#{scrapDate},</if>
            <if test="firePointId != null">#{firePointId},</if>
            <if test="installLocation != null">#{installLocation},</if>
            <if test="qrCode != null">#{qrCode},</if>
            <if test="status != null">#{status},</if>
            <if test="syncStatus != null">#{syncStatus},</if>
            <if test="lastSyncTime != null">#{lastSyncTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateFeExtinguisher" parameterType="FeExtinguisher">
        update fe_extinguisher
        <trim prefix="SET" suffixOverrides=",">
            <if test="externalExtinguisherId != null">external_extinguisher_id = #{externalExtinguisherId},</if>
            <if test="externalCompanyId != null">external_company_id = #{externalCompanyId},</if>
            <if test="labelCode != null and labelCode != ''">label_code = #{labelCode},</if>
            <if test="specification != null">specification = #{specification},</if>
            extinguisher_type = #{extinguisherType},
            extinguisher_form = #{extinguisherForm},
            standard_code = #{standardCode},
            temperature_range = #{temperatureRange},
            profile_source = #{profileSource},
            profile_sync_time = #{profileSyncTime},
            profile_sync_status = #{profileSyncStatus},
            profile_sync_message = #{profileSyncMessage},
            <if test="sensorId != null">sensor_id = #{sensorId},</if>
            <if test="sensorCode != null">sensor_code = #{sensorCode},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="sourceDeptId != null">source_dept_id = #{sourceDeptId},</if>
            <if test="productName != null">product_name = #{productName},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="serviceProvider != null">service_provider = #{serviceProvider},</if>
            <if test="productionDate != null">production_date = #{productionDate},</if>
            <if test="inspectionDate != null">inspection_date = #{inspectionDate},</if>
            expiry_date = #{expiryDate},
            <if test="scrapDate != null">scrap_date = #{scrapDate},</if>
            <if test="firePointId != null">fire_point_id = #{firePointId},</if>
            <if test="installLocation != null">install_location = #{installLocation},</if>
            <if test="qrCode != null">qr_code = #{qrCode},</if>
            <if test="status != null">status = #{status},</if>
            <if test="syncStatus != null">sync_status = #{syncStatus},</if>
            <if test="lastSyncTime != null">last_sync_time = #{lastSyncTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where extinguisher_id = #{extinguisherId}
    </update>

    <update id="updateDeptIdByExternalCompanyId">
        update fe_extinguisher
        set dept_id = #{deptId,jdbcType=BIGINT}
        where external_company_id = #{externalCompanyId}
    </update>

    <update id="updateExternalCompanyRef">
        update fe_extinguisher
        set external_company_id = #{targetExternalCompanyId}
        where external_company_id = #{sourceExternalCompanyId}
    </update>

    <delete id="deleteFeExtinguisherByExtinguisherId" parameterType="Long">
        delete from fe_extinguisher where extinguisher_id = #{extinguisherId}
    </delete>

    <delete id="deleteFeExtinguisherByExtinguisherIds" parameterType="String">
        delete from fe_extinguisher where extinguisher_id in
        <foreach item="extinguisherId" collection="array" open="(" separator="," close=")">
            #{extinguisherId}
        </foreach>
    </delete>
</mapper>
